:root {
  --headerFont: 'Fredericka the Great', cursive;
  --bodyFont: 'Open Sans', sans-serif;
  --medGreen: #1fad34;
  --dkGreen: #031105;
  --ltBlue: #c7dbf3;
  --translucentBgGreen: rgba(3, 17, 5, 0.55);
  --translucentBgDker: rgba(0, 0, 0, 0.5);
  --translucentBgLter: rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 30px;
  font-weight: lighter;
}

p {
  font-size: 14px;
}

.game-card {
  background: var(--translucentBgGreen);
  margin: 15px;
  width: 350px;
  height: 600px;
  filter: drop-shadow(5px 5px 5px var(--translucentBgDker));
  display: inline-flex;
  align-items: center;
  font-family: var(--bodyFont);
}

.card-title {
  display: flex;
  align-items: center;
  color: var(--ltBlue);
  font-family: var(--headerFont);
  margin-top: 5px;
  height: 10rem;
  border: none;
}

.card-title h2 {
  text-align: center;
}

.card-text {
  color: var(--ltBlue);
}

.bgImage {
  width: 97%;
}

.btn {
  background-color: var(--ltBlue);
  color: var(--dkGreen);
  border: 3px solid var(--dkGreen);
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 3px;
}

.btn:hover {
  color: var(--ltBlue);
  background-color: var(--dkGreen);
  border: 3px solid var(--ltBlue);
}

.btn:visited {
  background-color: var(--ltBlue);
  color: var(--dkGreen);
  border: 3px solid var(--dkGreen);
}

.btndiv {
  display: flex;
  justify-content: center;
}