.navbar {
  background: rgba(3, 17, 5, 0.55);
  width: 100%;
  font-size: 16px;
  border-radius: 0;
}

.navlink {
  padding: 1em;
  color: #c7dbf3;
  font-family: 'Fredericka the Great', cursive;
}

.mylogo { 
  color: #c7dbf3;
  font-size: 24px;
  font-family: 'Fredericka the Great', cursive;
}

:is(.navlink:hover, .mylogo:hover) {
  color: #408ae1;
}
:is(.navlink:visited, .mylogo:visited) {
  color: #e2e2e2;
}
