:root {
  --headerFont: "Fredericka the Great", cursive;
  --ltGray1: #e2e2e2;
  --ltBlue: #c7dbf3;
  --medBlue: #408ae1;
  --translucentBgGreen: rgba(3, 17, 5, 0.55);
}

.mylogo {
  color: var(--ltBlue);
  font-size: 24px;
  font-family: var(--headerFont);
}

.navbar {
  background: var(--translucentBgGreen);
  width: 100%;
  font-size: 16px;
  border-radius: 0;
}

.navlink {
  padding: 1em;
  color: var(--ltBlue);
  font-family: var(--headerFont);
}

:is(.navlink:visited, .mylogo:visited) {
  color: var(--ltGray1);
}
:is(.navlink:hover, .mylogo:hover) {
  color: var(--medBlue);
}
