.dropdown-menu.show {
  background: var(--translucentBgGreen);
  font-size: 16px;
}

.dropdown-item:hover {
  color: var(--medBlue);
  background: var(--translucentBgGreen);
}

.mylogo {
  color: var(--ltBlue);
  font-size: 24px;
  font-family: var(--headerFont);
  /* padding-top: 0.3125rem; */
}
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar {
  background: var(--translucentBgGreen);
  width: 100%;
  font-size: 16px;
  border-radius: 0;
}

.navlink,
a.dropdown-toggle.nav-link {
  padding: 1em !important;
  color: var(--ltBlue) !important;
  font-family: var(--headerFont);
}

:is(.navlink:visited, .mylogo:visited) {
  color: var(--ltGray1);
}
:is(.navlink:hover, .mylogo:hover) {
  color: var(--medBlue);
}
