:root {
  --ltBlue: #c7dbf3;
  --translucentBgGreen: rgba(3, 17, 5, 0.55);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--translucentBgGreen);
  color: var(--ltBlue);
}

.icon {
  max-width: 25px;
  margin-top: 1em;
}