.center {
  display: flex;
  align-items: center;
  margin-top: .75rem;
}

.contact-text {
  color: var(--ltBlue);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--translucentBgGreen);
  color: var(--ltBlue);
}

.icon {
  max-width: 25px;
  margin-top: 1.5em;
}

.ltBgFooter {
  background: var(--ltBlue);
  border-radius: 2px;
  max-width: 35px;
  margin-top: 1em;
  padding: 5px;
}

.round-corners {
  border-radius: 2px;
}